version: '3'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.back
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.front
    ports:
      - "8080:80"
